<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:cache.static>
    <div id="bynder-compactview"
         data-element=".{element}"
         data-language="{language}"
         data-button="Pick a file from Bynder"
         data-folder="bynder-compactview"
         data-zindex="300"
         data-collections="false"
         data-header="false"
         data-autoload="true"
         data-fullScreen="true"
         data-defaultEnvironment="{apiBaseUrl}"
         data-button-id="1"
    ></div>
</f:cache.static>

<script src="https://d8ejoa1fys2rk.cloudfront.net/5.0.5/modules/compactview/bynder-compactview-2-latest.js"></script>


<div id="importedAssets"></div>
<script>
    var container = document.getElementById('bynder-compactview');
    BynderCompactView.open({
        onSuccess: function (selectedAssets) {
            var media = [];
            for (var i = 0; i < selectedAssets.length; i++) {
                media.push(selectedAssets[i].databaseId);
            }
            var details = {media: media, 'element': container.getAttribute('data-element')},
                parentDocument = parent.document,
                contentIframe = parent.document.getElementById('typo3-contentIframe');

            if (contentIframe) {
                parentDocument = contentIframe.contentDocument;
            }

            parentDocument.dispatchEvent(new CustomEvent("BynderAddMedia", {"detail": details}));
        },
        collections: false,
        assetTypes: ['image'],
        container: container,
        portal: {
            url: container.getAttribute('data-defaultEnvironment'),
            editable: false,
        }
    });
</script>

</html>
